################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MulticlientCreator/bin/Debug/net8.0-windows
/src/MulticlientCreator/obj
